[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "anominate"]
	path = anominate
	url = https://github.com/cran/anominate
[submodule "basicspace"]
	path = basicspace
	url = https://github.com/cran/basicspace
